<?php 
// return array(
// 	'db' => array(
// 		'host' => 'localhost',
// 		'dbname' => 'moon',
// 		'username' => 'root',
// 		'password' => '',
// 		'charset' => 'utf8',
// 		'enableProfiling' => true			
// 	)	
// ); 

//DB
define('DBHOST', 'localhost');
define('DBNAME', 'database');
define('DBUSERNAME', 'user');
define('DBPASSWORD', 'password');
define('DBCHARSET', 'utf8');
define('DBPROFILING', true);   


//daemon
define('CLOSE_TIME_DIFFERENCE', 5); //10 seconds 
?>